<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>ChapChap Chat</title>

    <!-- vendor css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="static/app.bundle.js"></script></body>
</html>
