.main-content-wraper {
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  padding: 0.4rem 1rem;
}
@media only screen and (min-width: 768px) {
  .main-layout {
    width: 100%;
    margin: auto;
    height: 100vh;
  }
  .main-content-wraper {
    width: 70%;
    margin: 0 auto;

    height: 100%;
  }
}
